<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--Provides conversion rules, pattern properties and common logger configurations-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <springProperty scope="context" name="LOG_FILE" source="logging.file.name"/>

    <!--stop logback status info at the start-->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    # Console appender
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    # File appender for main
    <appender name="FILE-ROLLING-MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archive/main/year_%d{yyyy, aux}/month_%d{MM,
                aux}/${LOG_FILE}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 10GB, it will delete old archived file -->
            <totalSizeCap>10GB</totalSizeCap>
            <!-- 90 days (3 months) to keep -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <append>true</append>
    </appender>

    # File appender for test
    <appender name="FILE-ROLLING-TEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}-test.log</file>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archive/test/year_%d{yyyy, aux}/month_%d{MM,
                aux}/${LOG_FILE}-test.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>10GB</totalSizeCap>
            <maxHistory>90</maxHistory>
        </rollingPolicy>

        <append>true</append>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ROLLING-MAIN"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ROLLING-MAIN"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE-ROLLING-TEST"/>
        </root>
    </springProfile>

</configuration>